*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #D0ADA7;
    cursor: url(kwiatek1.png), crosshair;
}
#container{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    margin-bottom: 2rem
}
#content{
    width: 600px;
    line-height: 1.5rem;
    background: rgba(232, 214, 203,.7);
    border-radius: 25px;
    padding: 2rem;
    cursor: url(kwiatek3.png), pointer;
}