@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Playwrite+DE+Grund:wght@100..400&family=Sofadi+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F7FF;
}
#container{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
h1{
    text-align: center;
    font-size: 600%;
    color: #9381FF;
    text-shadow: 4px 4px 6px #F8F7FF;
    font-family: "Sofadi One", system-ui;
    font-style: normal;
}
.logo{
    border: 1px solid #9381FF;
    width: 100%;
    background-color: #B8B8FF;
    -webkit-box-shadow: 8px 8px 24px 0px #9381FF;
-moz-box-shadow: 8px 8px 24px 0px #9381FF;
box-shadow: 8px 8px 24px 0px #9381FF;
border-radius: 15px;
}