*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    padding: 2rem;
}
.oferta-panel{
background-color: lightcoral;
padding: 1rem;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
footer{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: orange;
}
.oferta a{
    color: black;
    padding: .5rem;
    text-decoration: none;
    background-color: orange;
    border-radius: .5rem;
}
body{
    display: flex;
    flex-direction: column;
}