*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: orange;
    height: 15%;
}
.oferta-panel{
background-color: lightcoral;
height: 10%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: orange;
    height: 15%;
}
.oferta a{
    color: black;
    padding: .5rem;
    text-decoration: none;
    background-color: orange;
    border-radius: .5rem;
}
#container{
    width: 100dvw;
    height: 100dvh;
}
body{
    display: flex;
    flex-direction: column;
}